---
layout: publications
title: Publications
permalink: /publications/
background: '/assets/imgs/TOP.webp'

journals:
  - journal:
    author: Michitaka Yoshida, Toshiki Sonoda, Hajime Nagahara, Kenta Endo, Yukinobu Sugiyama, Rin-Ichiro Taniguchi
    title: High-Speed Imaging Using CMOS Image Sensor With Quasi Pixel-Wise Exposure
    journal: IEEE Transactions on Computational Imaging
    volume: 6
    pages: 463-476
    year: 2020
    month: "01"
    doi: 10.1109/TCI.2019.2956885
    bibtex: >-
      @ARTICLE{8918110,
        author={M. {Yoshida} and T. {Sonoda} and H. {Nagahara} and K. {Endo} and Y. {Sugiyama} and R. {Taniguchi}},
        journal={IEEE Transactions on Computational Imaging},
        title={High-Speed Imaging Using CMOS Image Sensor With Quasi Pixel-Wise Exposure},
        year={2020},
        volume={6},
        number={},
        pages={463-476},
        keywords={Image reconstruction;CMOS image sensors;Spatial resolution;Compressed sensing;Prototypes;Compressive sensing;video reconstruction},
        doi={10.1109/TCI.2019.2956885},
        ISSN={2573-0436},
        month={},
      }

international_conferences:
  - conference:
    author: Michitaka Yoshida, Akihiko Torii, Masatoshi Okutomi, Kenta Endo, Yukinobu Sugiyama, Rin-Ichiro Taniguchi, Hajime Nagahara
    title: Joint optimization for compressive video sensing and reconstruction under hardware constraints
    booktitle: Proceedings of the European Conference on Computer Vision (ECCV)
    pages: 634-649
    year: 2018
    month: "09"
    bibtex: >-
      @inproceedings{yoshida2018joint,
        author={Yoshida, Michitaka and Torii, Akihiko and Okutomi, Masatoshi and Endo, Kenta and Sugiyama, Yukinobu and Taniguchi, Rin-ichiro and Nagahara, Hajime},
        booktitle={Proceedings of the European Conference on Computer Vision (ECCV)},
        title={Joint optimization for compressive video sensing and reconstruction under hardware constraints},
        year={2018},
        pages={634--649},
      }

domestic_conferences:
  - conference:
    author: 吉田 道隆, 鳥居 秋彦, 奥富 正敏, 遠藤 健太, 杉山 行信, 谷口 倫一郎, 長原 一
    title: ハードウェアの制約を考慮した圧縮ビデオセンシングにおける圧縮と再構成の同時最適化
    booktitle: 第21回画像の認識・理解シンポジウム(MIRU2018)
    year: MIRU2018
    bibtex: >-
      @inproceedings{MIRU2018Yoshida,
        author={吉田 道隆, 鳥居 秋彦, 奥富 正敏, 遠藤 健太, 杉山 行信, 谷口 倫一郎, 長原 一},
        booktitle={第21回画像の認識・理解シンポジウム(MIRU2018)},
        title={ハードウェアの制約を考慮した圧縮ビデオセンシングにおける圧縮と再構成の同時最適化},
        year={2018},
      }
---
// format(journals, *_conferences共通)
//    - item:
//      author: 必須
//      title: 必須
//      journal: journalとbooktitleのどちらか必須
//      booktitle: journalとbooktitleのどちらか必須
//      volume:
//      number:
//      pages:
//      year: 必須
//      month: 注: 数値を入力する場合`"`で括る, 例: "01"
//      bibtex: `>-`以下に記入, インデント注意
//      doi: 例: 10.1109/TCI.2019.2956885
//      link: https://...
//      pdf: https://...
//      project_page: https://...
//      arxiv: https://arxiv.org/abs/...
//      url: https://...
//      other: そのまま出力 (例: `Preprint(Coming soon)` )
