---
layout: member
title: Hajime Nagahara
permalink: /members/nagahara/
background: '/assets/imgs/TOP.webp'
// background: 'http://limu.ait.kyushu-u.ac.jp/e/member/image/0002.jpg'

page_ja: /ja/members/nagahara/


member_name: Hajime Nagahara
job_title: Professor
academic_degree: Ph.D (Eng.)
organization_name: Osaka University Institute for Datability Science
organization_url: http://www.ids.osaka-u.ac.jp
research_topics: Computational Photography, Computer Vision, Image Processing

image_url: '/assets/imgs/members/nagahara.jpeg'


employments:
  - employment:
    name:  Osaka University Institute for Datability Science
    post:  Professor
    start: "2017.04"
    end:   ""
  - employment:
    name:  Faculty of Information Science and Electrical Engineering, Kyushu University
    post:  Associate Professor
    start: "2010.04"
    end:   "2017.03"
  - employment:
    name:  Graduate School of Engineering Science, Osaka University
    post:  Assistant Professor
    start: "2007.04"
    end:   "2010.03"
  - employment:
    name:  Colombia University, USA
    post:  Visiting Researcher
    start: "2007.10"
    end:   "2008.09"
  - employment:
    name:  Graduate School of Engineering Science, Osaka University
    post:  Research Assistant
    start: "2003.07"
    end:   "2007.03"
  - employment:
    name:  University of Picardie Jules Verns, France
    post:  Visiting Associate Professor
    start: "2005.09"
  - employment:
    name:  Japan Society for the Promotion of Science
    post:  Research Associate
    start: "2001.07"
    end:   "2003.06"


educations:
  - education:
    name:  Osaka University Graduate School, Division of Engineering Science
    grade: Ph. D in Engineering
    date:  "2001.06"
  - education:
    name:  Yamaguchi University Graduate School, Division of Science and Engineering
    grade: Master of Enginnering
    date:  "1998.03"
  - education:
    name:  Yamaguchi University Faculty of Engineering
    grade: Bachelor of Enginnering
    date:  "1996.03"

awards:
  - award:
    name:  Honorable Mention Award of 10th ACM symposium on virtual reality software and technology, Hajime Nagahara, Yasushi Yagi, Masahiko Yachida, ACM, 2003.10
  - award:
    name:  Finalist for T. J. Tarn Best Paper in Robotics, Trung Ngo Thanh, Yusuke Sakaguchi, Hajime Nagahara, Masahiko Yachida, IEEE, 2006.12

journals:
  - journal:
    author: Michitaka Yoshida, Toshiki Sonoda, Hajime Nagahara, Kenta Endo, Yukinobu Sugiyama, Rin-Ichiro Taniguchi
    title: High-Speed Imaging Using CMOS Image Sensor With Quasi Pixel-Wise Exposure
    journal: IEEE Transactions on Computational Imaging
    volume: 6
    pages: 463-476
    year: 2020
    month: "01"
    doi: 10.1109/TCI.2019.2956885
    bibtex: >-
      @ARTICLE{8918110,
        author={M. {Yoshida} and T. {Sonoda} and H. {Nagahara} and K. {Endo} and Y. {Sugiyama} and R. {Taniguchi}},
        journal={IEEE Transactions on Computational Imaging},
        title={High-Speed Imaging Using CMOS Image Sensor With Quasi Pixel-Wise Exposure},
        year={2020},
        volume={6},
        number={},
        pages={463-476},
        keywords={Image reconstruction;CMOS image sensors;Spatial resolution;Compressed sensing;Prototypes;Compressive sensing;video reconstruction},
        doi={10.1109/TCI.2019.2956885},
        ISSN={2573-0436},
        month={},
      }

international_conferences:
  - conference:
    author: Michitaka Yoshida, Akihiko Torii, Masatoshi Okutomi, Kenta Endo, Yukinobu Sugiyama, Rin-Ichiro Taniguchi, Hajime Nagahara
    title: Joint optimization for compressive video sensing and reconstruction under hardware constraints
    booktitle: Proceedings of the European Conference on Computer Vision (ECCV)
    pages: 634-649
    year: 2018
    month: "09"
    bibtex: >-
      @inproceedings{yoshida2018joint,
        author={Yoshida, Michitaka and Torii, Akihiko and Okutomi, Masatoshi and Endo, Kenta and Sugiyama, Yukinobu and Taniguchi, Rin-ichiro and Nagahara, Hajime},
        booktitle={Proceedings of the European Conference on Computer Vision (ECCV)},
        title={Joint optimization for compressive video sensing and reconstruction under hardware constraints},
        year={2018},
        pages={634--649},
      }

domestic_conferences:
  - conference:
    author: 吉田 道隆, 鳥居 秋彦, 奥富 正敏, 遠藤 健太, 杉山 行信, 谷口 倫一郎, 長原 一
    title: ハードウェアの制約を考慮した圧縮ビデオセンシングにおける圧縮と再構成の同時最適化
    booktitle: 第21回画像の認識・理解シンポジウム(MIRU2018)
    year: MIRU2018
    bibtex: >-
      @inproceedings{MIRU2018Yoshida,
        author={吉田 道隆, 鳥居 秋彦, 奥富 正敏, 遠藤 健太, 杉山 行信, 谷口 倫一郎, 長原 一},
        booktitle={第21回画像の認識・理解シンポジウム(MIRU2018)},
        title={ハードウェアの制約を考慮した圧縮ビデオセンシングにおける圧縮と再構成の同時最適化},
        year={2018},
      }
---
