---
layout: member
title: 長原 一
permalink: /ja/members/nagahara/
background: '/assets/imgs/TOP.png'
// background: 'http://limu.ait.kyushu-u.ac.jp/e/member/image/0002.jpg'

page_en: /members/nagahara/
canonical_url: /members/nagahara/

member_name: 長原 一
job_title: 教授
academic_degree: 博士（工学）
organization_name: 大阪大学データビリティフロンティア機構
organization_url: http://www.ids.osaka-u.ac.jp
research_topics: コンピュテーショナルフォトグラフィ，コンピュータビジョン，画像処理

image_url: http://limu.ait.kyushu-u.ac.jp/e/member/image/0002.jpg


employments:
  - employment:
    name:  大阪大学データビリティフロンティア機構
    post:  教授
    start: "2017.04"
    end:   ""
  - employment:
    name:  九州大学大学院システム情報科学研究院
    post:  准教授
    start: "2010.04"
    end:   "2017.03"
  - employment:
    name:  大阪大学大学院基礎工学研究科
    post:  助教
    start: "2007.04"
    end:   "2010.03"
  - employment:
    name:  アメリカコロンビア大学
    post:  客員研究員
    start: "2007.10"
    end:   "2008.09"
  - employment:
    name:  大阪大学大学院基礎工学研究科
    post:  助手
    start: "2003.07"
    end:   "2007.03"
  - employment:
    name:  フランスピカルディ大学
    post:  客員助教授
    start: "2005.09"
  - employment:
    name:  日本学術振興会
    post:  研究員
    start: "2001.07"
    end:   "2003.06"



educations:
  - education:
    name:  大阪大学 大学院 基礎工学研究科 システム人間系専攻
    grade: 博士後記課程修了
    date:  2001.06
  - education:
    name:  山口大学 大学院 理工学研究科 電気電子工学専攻
    grade: 博士前期課程修了
    date:  1998.03
  - education:
    name:  アメリカ合衆国 オクラホマ大学
    grade: 交換留学生
    date:  1997
  - education:
    name:  山口大学 工学部 電気電子工学科
    grade: 卒業
    date:  1996.03


awards:
  - award:
    name:  Honorable Mention Award of 10th ACM symposium on virtual reality software and technology，Hajime Nagahara, Yasushi Yagi, Masahiko Yachida，ACM，2003.10
  - award:
    name:  Finalist for T. J. Tarn Best Paper in Robotics，Trung Ngo Thanh, Yusuke Sakaguchi, Hajime Nagahara, Masahiko Yachida，IEEE，2006.12


journals:
  - journal:
    author: Michitaka Yoshida, Toshiki Sonoda, Hajime Nagahara, Kenta Endo, Yukinobu Sugiyama, Rin-Ichiro Taniguchi
    title: High-Speed Imaging Using CMOS Image Sensor With Quasi Pixel-Wise Exposure
    journal: IEEE Transactions on Computational Imaging
    volume: 6
    pages: 463-476
    year: 2020
    month: "01"
    doi: 10.1109/TCI.2019.2956885
    bibtex: >-
      @ARTICLE{8918110,
        author={M. {Yoshida} and T. {Sonoda} and H. {Nagahara} and K. {Endo} and Y. {Sugiyama} and R. {Taniguchi}},
        journal={IEEE Transactions on Computational Imaging},
        title={High-Speed Imaging Using CMOS Image Sensor With Quasi Pixel-Wise Exposure},
        year={2020},
        volume={6},
        number={},
        pages={463-476},
        keywords={Image reconstruction;CMOS image sensors;Spatial resolution;Compressed sensing;Prototypes;Compressive sensing;video reconstruction},
        doi={10.1109/TCI.2019.2956885},
        ISSN={2573-0436},
        month={},
      }

international_conferences:
  - conference:
    author: Michitaka Yoshida, Toshiki Sonoda, Hajime Nagahara, Kenta Endo, Yukinobu Sugiyama, Rin-Ichiro Taniguchi
    title: High-Speed Imaging Using CMOS Image Sensor With Quasi Pixel-Wise Exposure
    journal: IEEE Transactions on Computational Imaging
    volume: 6
    pages: 463-476
    year: 2020
    month: "01"
    doi: 10.1109/TCI.2019.2956885
    bibtex: >-
      @ARTICLE{8918110,
        author={M. {Yoshida} and T. {Sonoda} and H. {Nagahara} and K. {Endo} and Y. {Sugiyama} and R. {Taniguchi}},
        journal={IEEE Transactions on Computational Imaging},
        title={High-Speed Imaging Using CMOS Image Sensor With Quasi Pixel-Wise Exposure},
        year={2020},
        volume={6},
        number={},
        pages={463-476},
        keywords={Image reconstruction;CMOS image sensors;Spatial resolution;Compressed sensing;Prototypes;Compressive sensing;video reconstruction},
        doi={10.1109/TCI.2019.2956885},
        ISSN={2573-0436},
        month={},
      }

domestic_conferences:
  - conference:
    author: Michitaka Yoshida, Toshiki Sonoda, Hajime Nagahara, Kenta Endo, Yukinobu Sugiyama, Rin-Ichiro Taniguchi
    title: High-Speed Imaging Using CMOS Image Sensor With Quasi Pixel-Wise Exposure
    journal: IEEE Transactions on Computational Imaging
    volume: 6
    pages: 463-476
    year: 2020
    month: "01"
    doi: 10.1109/TCI.2019.2956885
    bibtex: >-
      @ARTICLE{8918110,
        author={M. {Yoshida} and T. {Sonoda} and H. {Nagahara} and K. {Endo} and Y. {Sugiyama} and R. {Taniguchi}},
        journal={IEEE Transactions on Computational Imaging},
        title={High-Speed Imaging Using CMOS Image Sensor With Quasi Pixel-Wise Exposure},
        year={2020},
        volume={6},
        number={},
        pages={463-476},
        keywords={Image reconstruction;CMOS image sensors;Spatial resolution;Compressed sensing;Prototypes;Compressive sensing;video reconstruction},
        doi={10.1109/TCI.2019.2956885},
        ISSN={2573-0436},
        month={},
      }
---
