---
layout: default
---

| {% if page.background %}
header.masthead(style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')")
  .overlay
  .container
    .row
      .col-lg-8.col-md-10.mx-auto
        .page-heading
          h1 {{ page.title }}
          | {% if page.description %}
          span.subheading {{ page.description }}
          | {% endif %}
| {% else %}
header.masthead
  .overlay
  .container
    .row
      .col-lg-8.col-md-10.mx-auto
        .page-heading
          h1 {{ page.title }}
          | {% if page.description %}
          span.subheading {{ page.description }}
          | {% endif %}
| {% endif %}

.container
  .row
    .col-lg-8.col-md-10.mx-auto
      | {{ content }}
